<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Log Folder -->
    <property name="LOG_PATH" value="logs"/>

    <!-- Console Appender -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- Rolling File Appender -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- Current Active Log -->
        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- Archive File -->
            <fileNamePattern>
                ${LOG_PATH}/application-%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>

            <!-- Keep logs for 30 days -->
            <maxHistory>30</maxHistory>

            <!-- Delete old logs on startup -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>

            <!-- Maximum total size of archived logs -->
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- Root Logger -->
    <root level="INFO">

        <appender-ref ref="CONSOLE"/>

        <appender-ref ref="FILE"/>

    </root>

</configuration>